{% extends 'bootstrap/base.html' %}

{% block title %}
     {% if title %}
        {{ title }}
    {% else %}
        _(Gde zagolovok?)
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for("main.index") }}"> {{ _('Home') }} </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    {% if current_user.is_anonymous %}
                        <li><a href={{ url_for("auth.login") }}> {{_("Login")}} </a></li>
                        <li><a href={{ url_for("auth.register") }}> {{_("Registration")}} </a></li>
                    {% else %}
                        <li><a href={{ url_for("main.user", username=current_user.username) }}> {{_("Profile")}} </a></li>
                        <li><a href={{ url_for("main.users") }}> {{_("All users")}} </a></li>
                        <li><a href={{ url_for("auth.logout") }}> {{_("Logout")}} </a></li>
                    {% endif %}
                </ul>
                {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                        <div class="form-group">
                            {{ g.search_form.q(size=20, class="form-control", placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
    {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

    <script>
            function translate(source, dest, source_lang, dest_lang)
            {
                $(dest).html('<img src="{{ url_for('static', filename='loading.gif') }}">');

                $.post('/translate',
                    {
                        text: $(source).text(),
                        source_language: source_lang,
                        dest_language: dest_lang
                    }
                ).done(function(response)
                    {
                        $(dest).text(response['text'])
                    }
                ).fail(function()
                    {
                        $(dest).text("{{ _("Error: Translation service fucked up") }}");
                    }
                );
            }
    </script>

{% endblock %}